# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual environments
env/
venv/
.myenv/
myenv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db
